.flashcard_text {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 8px 0;
}

.flashcard_side {
    flex: 1;
    border: 2px solid var(--color-border);
    border-radius: 6px;
    padding: 12px;
    background-color: var(--color-secondary-background);
    font-weight: bold;
    text-align: center;
}