.flashcard_text {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 8px 0;
}

.flashcard_side {
    flex: 1;
    border: 2px solid var(--color-border);
    border-radius: 6px;
    padding: 12px;
    background-color: var(--color-secondary-background);
    font-weight: bold;
    text-align: center;
}

.flashcard_text_box {
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.flashcard_text_box:focus {
    border: 2px solid var(--color-border);
}
