.flashcard_task_compact_display {
    font-size: 1em !important;
}
.flashcard_task_compact_text_caption {
    font-size: 0.67em !important;
}

.flashcard_task_front_display {
    margin: 0 !important;
    padding: 0 !important;
}