.tl-container:not(.force_open_tlui) .tlui-main-toolbar {
    opacity: 0;
    position: relative;
    top: 60px;
    transition: opacity 0.1s ease-in-out, top 0.2s ease-in-out;
}

.tl-container:not(.force_open_tlui) .tlui-style-panel {
    opacity: 0;
    transition: opacity 0.1s ease-in-out, left 0.2s ease-in-out;
    left: 150px;
}

.tl-container:not(.force_open_tlui) .tlui-menu-zone,
.tl-container:not(.force_open_tlui) .tlui-navigation-panel {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.tl-container:not(.force_open_tlui):hover .tlui-navigation-panel {
    opacity: 1;
}

.tl-container:not(.force_open_tlui):hover .tlui-main-toolbar,
.tl-container:not(.force_open_tlui):hover .tlui-style-panel,
.tl-container:not(.force_open_tlui):hover .tlui-menu-zone {
    opacity: 1;
    top: 0;
    left: 0;
}

/* Hide unsupported features in the drawing canvas, ignore the force_open_tlui for these*/
[data-value="asset"] {
    /* Hide the add image / asset buttons since it is not supported */
    display: none;
}

[data-testid="main-menu.insert-embed"] {
    /* Hide the insert button since it is also not supported */
    display: none;
}
