.text_box_header {
    font-size: 1.5em;
    font-weight: bold;
}

.text_box {
    outline: none;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 2px;
}
.text_box:focus {
    border: 2px solid var(--color-soft-accent);
    padding: 0;
}