.selected_add_block {
    background-color: var(--color-accent);
    color: var(--color-on-accent);
    padding: 2px 4px;
    border-radius: 15px;
    corner-shape: squircle;
    font-weight: bold;
}

.add_block_description {
    opacity: 0.8;
    font-size: 0.9em;
    font-weight: normal;
}