.multichoice_option {
    display: inline-block;
    word-wrap: break-word;
    padding: 15px;
    margin: 0 10px;
    font-size: 1em;
    border: 2px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-secondary-background);
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    flex: 1;
}

.multichoice_option:hover:not(:disabled) {
    border-color: var(--color-accent);
}

.multichoice_option_row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.multichoice_option_correct {
    border-color: var(--color-success);
    background-color: var(--color-success-light);
    color: var(--color-text-on-success);
    cursor: default;
}

.multichoice_option_incorrect {
    border-color: var(--color-error);
    background-color: var(--color-error-light);
    color: var(--color-text-on-error);
    cursor: default;
}

.flashcard_learning_debug {
    width: 100%;
    display: block;
    text-align: center;
    color: var(--color-border);
    font-size: 0.75em;
}

.page_center_content {
    position: relative; /* So that the progress bar can be positioned absolutely within it */
    overflow: hidden;
}

.flashcard_session_progress_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: var(--color-softest-border);
    border-top: 3px solid var(--color-soft-border);
    overflow: hidden;
}

.flashcard_session_progress_bar_fill {
    background-color: var(--color-accent);
    transition: width 0.3s;
    height: 10px;
}