.flashcard_floating_button {
    position: fixed;
    top: -10px;
    right: -10px;
    width: 70px;
    height: 70px;   
    border-radius: 50% 40% 50% 50%;
    background-color: var(--color-pure-background);
    border: 3px solid var(--color-border);
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1001;
}
