.page_structure_drag_button {
    background: none;
    cursor: grab;
    margin-right: 8px;
    padding: 2px;
    border: 2px solid var(--color-softest-border);
    font-weight: bold;
    border-radius: 6px;
    padding: 0;
    height: 13px;
    box-sizing: initial;
    justify-content: center;
    align-items: center;
    width: auto;
    cursor: grab;
    font-family: monospace;
    opacity: 0.2;
    display: flex;
    text-align: center;
    transition: opacity 0.1s ease-in-out;
    z-index: 3005;
    position: relative;
    background-color: white;
}

.page_structure_drag_button:hover, .page_structure_drag_button_open {
    opacity: 1;
}

.notebook_structure_page_name {
    text-decoration: none;
    color: var(--color-text);
}

.page_structure_new_page_button {
    border-radius: 12px;
    border: 3px solid var(--color-border);
    color: var(--color-heavy-border);
    height: 24px;
    box-sizing: border-box;
    background: none;
    cursor: pointer;
    font-size: 14px;
    padding: 2px 8px;
    display: block;
}

.page_structure_new_page_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4px;
}