.page_structure_drag_button {
    border: none;
    background: none;
    cursor: grab;
    font-size: 16px;
    margin-right: 8px;
    color: #888;
}

.notebook_structure_page_name {
    text-decoration: none;
    color: var(--color-text);
}

.page_structure_new_page_button {
    border-radius: 12px;
    border: 3px solid var(--color-border);
    color: var(--color-heavy-border);
    height: 24px;
    box-sizing: border-box;
    background: none;
    cursor: pointer;
    font-size: 14px;
    padding: 2px 8px;
    display: block;
}

.page_structure_new_page_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}