.page_center_content {
    width: 90vw;
    border-radius: 20px;
    border: 3px solid var(--color-soft-border);
    box-sizing: border-box;
    padding: 2vh 3vw;
    min-height: 90vh;
    margin: 5vh auto;
    background-color: white;
}