.app_sidebar {
    width: 50px;
    position: absolute;
    left: -50px;
    top: 0;
    transition: left 0.2s ease-in-out;
    height: 100vh;
    background-color: whitesmoke;
    z-index: 2;
}

.app_sidebar.show {
    left: 0;
}

.app_sidebar_hover_tag {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: rgb(230, 230, 230);
    transition: left 0.5s ease-in-out;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bolder;
    z-index: 1;
}

.app_sidebar_hover_tag.show {
    left: -20px;
}

.app_sidebar_hover_out_box {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.app_sidebar_hover_tag::after, .app_sidebar_hover_tag::before {
    width: 3px;
    height: 15px;
    background-color: rgb(185, 185, 185);
    display: block;
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 1px;
    transition: transform 0.2s ease-in-out;
}

.app_sidebar_hover_tag::after {
    transform: translate(-50%, -50%) translate(0, -3px) rotate(calc(-90deg + 20deg));
}
.app_sidebar_hover_tag::before {
    transform: translate(-50%, -50%) translate(0, 3px) rotate(calc(-90deg + -20deg));
}

/* .app_sidebar_hover_tag.show::after {
    transform: translate(-50%, -50%) translate(0, -3px) rotate(calc(-90deg - 20deg));
}
.app_sidebar_hover_tag.show::before {
    transform: translate(-50%, -50%) translate(0, 3px) rotate(calc(-90deg - -20deg));
} */