body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    
  font-family: "Reem Kufi", sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-secondary-background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Reem Kufi", sans-serif;
  color: var(--color-text-heavy);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-border: #ADADAD;
  --color-soft-border: #E3E3E3;
  --color-softest-border: #EFEFEF;
  --color-pure-background: #FFFFFF;
  --color-secondary-background: #F9F9F9;
  --color-heavy-border: #404040;
  --color-text: #2B2B2B;
  --color-text-heavy: #2B2B2B;
  --color-accent: #4A90E2;
  --color-on-accent: #FFFFFF;
  --color-success: #28A745;
  --color-success-light: #D4EDDA;
  --color-text-on-success: #155724;
  --color-error: #DC3545;
  --color-error-light: #F8D7DA;
  --color-text-on-error: #721C24;
}

/* when an ancestor has .showplaceholder */
.showplaceholder[contenteditable][placeholder]::before {
  content: attr(placeholder);
  z-index: 9;
  line-height: 1.7;
  color: #555;
  word-break: break-all;
  user-select: none;
  pointer-events: none; /* so clicks go to the editable div */
}

/* hide the pseudo-content when focused (normal empty check breaks with grammar checkers) */
.showplaceholder[contenteditable][placeholder]:focus::before {
  content: "";
}

button {
  border: 2px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-secondary-background);
  color: var(--color-text);
  font-family: "Reem Kufi", sans-serif;
  font-weight: bold;
  padding: 5px 5px;
  cursor: pointer;
  vertical-align: middle;
}

button:hover {
  border-color: var(--color-accent);
}