.flashcards_block_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 2px solid var(--color-soft-border);
    border-radius: 10px;
    padding: 16px;
    background-color: var(--color-pure-background);
}

.flashcard_add_button {
    background-color: var(--color-secondary-background);
    padding: 7.5px 30%;
}