.flashcards_block_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 2px solid var(--color-soft-border);
    border-radius: 20px;
    padding: 16px;
    background-color: var(--color-pure-background);
}